'context-menu':
  'script-runner-view': [
    {label: 'Terminate', command: 'script-runner:terminate'}
    {type: 'separator'}
    {label: 'Copy', command: 'script-runner:copy'}
    {label: 'Paste', command: 'script-runner:paste'}
    {type: 'separator'}
  ]