# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-text-editor':
  'ctrl-x': 'script-runner:run'

'.platform-darwin atom-workspace':
  'ctrl-c': 'script-runner:terminate'

'.platform-linux atom-text-editor':
  'alt-x': 'script-runner:run'

'.platform-linux atom-workspace':
  'alt-c': 'script-runner:terminate'

# Copy/paste from script runner view:
'.platform-darwin .script-runner':
  'cmd-c': 'script-runner:copy'
  'cmd-v': 'script-runner:paste'

'.platform-linux .script-runner':
  'ctrl-c': 'script-runner:copy'
  'ctrl-v': 'script-runner:paste'
