# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-text-editor':
  'ctrl-x': 'run:script'

'.platform-darwin atom-workspace':
  'ctrl-c': 'run:terminate'

'.platform-linux atom-text-editor':
  'alt-x': 'run:script'

'.platform-linux atom-workspace':
  'alt-c': 'run:terminate'

# Copy from script runner pane:
'.platform-darwin .script-runner':
  'cmd-c': 'run:copy'

'.platform-linux .script-runner':
  'ctrl-c': 'run:copy'
